# Google Cloud credentials file path
GOOGLE_APPLICATION_CREDENTIALS=./path-to-your-credentials.json

# Server port
PORT=3000

# Email configuration
EMAIL_USER=your-email@example.com
EMAIL_PASS=your-email-password

# Google Drive shared folder ID
SHARED_FOLDER_ID=your-shared-folder-id
